In [1]:
from pyspark.sql import SparkSession, functions as F, types as T
from pyspark import SparkConf, SparkContext
import os
from dotenv import load_dotenv

In [2]:
conf = SparkConf()
conf.set("spark.jars.packages", "net.snowflake:snowflake-jdbc:3.24.2,net.snowflake:spark-snowflake_2.12:3.1.2")
spark = SparkSession.builder \
    .config(conf=conf) \
    .getOrCreate()

In [3]:
load_dotenv(dotenv_path="/home/jovyan/work/.env")

sfOptions = {
    "sfURL": os.getenv("URL"),
    "sfDatabase": os.getenv("DB"),
    "sfSchema": "ANALYTICS",
    "sfWarehouse": os.getenv("WAREHOUSE"),
    "sfRole": os.getenv("ROLE"),
    "sfUser": os.getenv("USER"),
    "sfPassword": os.getenv("PASSWORD")
}

In [4]:
df = spark.read.format("snowflake") \
    .options(**sfOptions) \
    .option("dbtable", "ANALYTICS.OBT_TRIPS") \
    .load()

print("tabla cargada")

tabla cargada

a) Top 10 zonas de pickup por volumen mensual

In [28]:
top_pickup = (
    df.groupBy("MONTH", "PU_ZONE")
      .agg(F.count("*").alias("num_trips"))
      .orderBy( "MONTH", F.col("num_trips").desc())
)
top_pickup.show()

+-----+--------------------+---------+
|MONTH|             PU_ZONE|num_trips|
+-----+--------------------+---------+
|    1|Upper East Side S...|  3047066|
|    1|Upper East Side N...|  2925423|
|    1|      Midtown Center|  2890009|
|    1|        Midtown East|  2481739|
|    1|Times Sq/Theatre ...|  2478174|
|    1|Penn Station/Madi...|  2440131|
|    1|            Union Sq|  2269092|
|    1|         Murray Hill|  2241200|
|    1| Lincoln Square East|  2170625|
|    1|        Clinton East|  2165022|
|    1|        East Village|  2071936|
|    1|         JFK Airport|  2055335|
|    1|       Midtown North|  1948385|
|    1|Upper West Side S...|  1925936|
|    1|     Lenox Hill West|  1794045|
|    1|        East Chelsea|  1746989|
|    1|            Gramercy|  1722188|
|    1|   LaGuardia Airport|  1708302|
|    1|       Midtown South|  1660350|
|    1|        West Village|  1544942|
+-----+--------------------+---------+
only showing top 20 rows

b) Top 10 zonas de dropoff por volumen mensual.

In [29]:
top_dropoff = (
    df.groupBy("MONTH", "DO_ZONE")
      .agg(F.count("*").alias("num_trips"))
      .orderBy( "MONTH", F.col("num_trips").desc())
)
top_dropoff.show()

+-----+--------------------+---------+
|MONTH|             DO_ZONE|num_trips|
+-----+--------------------+---------+
|    1|Upper East Side N...|  3076863|
|    1|Upper East Side S...|  2738783|
|    1|      Midtown Center|  2714918|
|    1|         Murray Hill|  2272433|
|    1|Times Sq/Theatre ...|  2194933|
|    1|        Midtown East|  2146806|
|    1| Lincoln Square East|  1992453|
|    1|            Union Sq|  1975954|
|    1|        Clinton East|  1946386|
|    1|Upper West Side S...|  1921607|
|    1|     Lenox Hill West|  1876772|
|    1|Penn Station/Madi...|  1839065|
|    1|        East Village|  1784186|
|    1|       Midtown North|  1731205|
|    1|        East Chelsea|  1678802|
|    1|Upper West Side N...|  1643838|
|    1|            Gramercy|  1565393|
|    1|      Yorkville West|  1499737|
|    1|       Midtown South|  1494509|
|    1|     Lenox Hill East|  1444425|
+-----+--------------------+---------+
only showing top 20 rows

c) Evoluci√≥n mensual de total_amount y tip_pct por borough.

In [13]:
evolucion_borough = (
    df.groupBy("MONTH", "PU_BOROUGH")
      .agg(
          F.round(F.avg("TOTAL_AMOUNT"), 2).alias("avg_total_amount"),
          F.round(F.avg("TIP_PCT"), 2).alias("avg_tip_pct")
      )
      .orderBy("PU_BOROUGH", "MONTH")
)
evolucion_borough.show(50, False)

+-----+----------+----------------+-----------+
|MONTH|PU_BOROUGH|avg_total_amount|avg_tip_pct|
+-----+----------+----------------+-----------+
|1    |Bronx     |20.19           |2.12       |
|2    |Bronx     |19.09           |1.81       |
|3    |Bronx     |18.96           |1.82       |
|4    |Bronx     |19.72           |2.26       |
|5    |Bronx     |20.03           |2.29       |
|6    |Bronx     |20.52           |2.42       |
|7    |Bronx     |21.09           |2.56       |
|8    |Bronx     |21.61           |2.57       |
|9    |Bronx     |21.26           |2.85       |
|10   |Bronx     |21.67           |2.8        |
|11   |Bronx     |21.47           |2.69       |
|12   |Bronx     |21.39           |2.55       |
|1    |Brooklyn  |17.58           |8.19       |
|2    |Brooklyn  |17.66           |8.37       |
|3    |Brooklyn  |17.94           |8.18       |
|4    |Brooklyn  |18.15           |8.38       |
|5    |Brooklyn  |18.64           |8.27       |
|6    |Brooklyn  |18.88           |8.15       |
|7    |Brooklyn  |18.8            |8.0        |
|8    |Brooklyn  |18.78           |7.78       |
|9    |Brooklyn  |18.61           |8.29       |
|10   |Brooklyn  |18.6            |8.46       |
|11   |Brooklyn  |18.45           |8.36       |
|12   |Brooklyn  |19.04           |8.29       |
|1    |EWR       |90.86           |10.59      |
|2    |EWR       |89.77           |10.5       |
|3    |EWR       |91.01           |10.76      |
|4    |EWR       |90.74           |10.36      |
|5    |EWR       |91.32           |10.75      |
|6    |EWR       |93.97           |10.92      |
|7    |EWR       |91.89           |10.05      |
|8    |EWR       |92.02           |10.2       |
|9    |EWR       |91.83           |10.32      |
|10   |EWR       |93.5            |10.92      |
|11   |EWR       |93.26           |11.15      |
|12   |EWR       |94.74           |10.64      |
|1    |Manhattan |15.48           |10.63      |
|2    |Manhattan |15.73           |10.72      |
|3    |Manhattan |16.11           |10.57      |
|4    |Manhattan |16.24           |10.49      |
|5    |Manhattan |16.68           |10.41      |
|6    |Manhattan |16.67           |10.43      |
|7    |Manhattan |16.32           |10.23      |
|8    |Manhattan |16.18           |10.23      |
|9    |Manhattan |16.45           |10.48      |
|10   |Manhattan |16.45           |10.65      |
|11   |Manhattan |16.32           |10.71      |
|12   |Manhattan |16.45           |14.19      |
|1    |N/A       |61.26           |6.17       |
|2    |N/A       |58.63           |5.7        |
+-----+----------+----------------+-----------+
only showing top 50 rows

d) Ticket promedio (avg total_amount) por service_type y mes.

In [9]:
ticket_service = (
    df.groupBy("MONTH", "SERVICE_TYPE")
      .agg(F.round(F.avg("TOTAL_AMOUNT"), 2).alias("avg_total_amount"))
      .orderBy("MONTH")
)
ticket_service.show()

+-----+------------+----------------+
|MONTH|SERVICE_TYPE|avg_total_amount|
+-----+------------+----------------+
|    1|       green|           15.37|
|    1|      yellow|           17.82|
|    2|       green|           15.29|
|    2|      yellow|           17.81|
|    3|       green|           15.32|
|    3|      yellow|           18.45|
|    4|       green|           15.56|
|    4|      yellow|           18.65|
|    5|       green|           15.93|
|    5|      yellow|           19.26|
|    6|       green|            15.9|
|    6|      yellow|           19.29|
|    7|       green|           15.86|
|    7|      yellow|           19.01|
|    8|       green|           16.07|
|    8|      yellow|           18.99|
|    9|       green|           16.29|
|    9|      yellow|           19.04|
|   10|       green|           16.12|
|   10|      yellow|           18.95|
+-----+------------+----------------+
only showing top 20 rows

e) Viajes por hora del d√≠a y d√≠a de semana (picos).

In [14]:
trips_by_hour_day = (
    df.groupBy("PICKUP_HOUR", "DAY_OF_WEEK")
      .agg(F.count("*").alias("num_trips"))
      .orderBy("DAY_OF_WEEK", "PICKUP_HOUR")
)
trips_by_hour_day.show(200)

+-----------+-----------+---------+
|PICKUP_HOUR|DAY_OF_WEEK|num_trips|
+-----------+-----------+---------+
|          0|          0|  1813408|
|          1|          0|  1147755|
|          2|          0|  1332276|
|          3|          0|  1950314|
|          4|          0|  2884855|
|          5|          0|  4118295|
|          6|          0|  5178440|
|          7|          0|  5875104|
|          8|          0|  6252902|
|          9|          0|  6316318|
|         10|          0|  6375938|
|         11|          0|  6206169|
|         12|          0|  6189142|
|         13|          0|  6327145|
|         14|          0|  6112753|
|         15|          0|  5545338|
|         16|          0|  5096868|
|         17|          0|  4772658|
|         18|          0|  4023361|
|         19|          0|  3064250|
|         20|          0|  1965606|
|         21|          0|  1194638|
|         22|          0|   790538|
|         23|          0|   651537|
|          0|          1|   862669|
|          1|          1|  1720522|
|          2|          1|  3488278|
|          3|          1|  5091546|
|          4|          1|  5746721|
|          5|          1|  5543026|
|          6|          1|  5335952|
|          7|          1|  5484480|
|          8|          1|  5705937|
|          9|          1|  5944926|
|         10|          1|  6336580|
|         11|          1|  6262429|
|         12|          1|  6379884|
|         13|          1|  7153157|
|         14|          1|  7351191|
|         15|          1|  6705925|
|         16|          1|  6202079|
|         17|          1|  5697440|
|         18|          1|  4589885|
|         19|          1|  3193237|
|         20|          1|  1956790|
|         21|          1|  1116717|
|         22|          1|   690846|
|         23|          1|   545138|
|          0|          2|   763287|
|          1|          2|  1747745|
|          2|          2|  3809744|
|          3|          2|  5730204|
|          4|          2|  6437737|
|          5|          2|  6130583|
|          6|          2|  5856726|
|          7|          2|  5960968|
|          8|          2|  6163342|
|          9|          2|  6378547|
|         10|          2|  6718318|
|         11|          2|  6514060|
|         12|          2|  6600363|
|         13|          2|  7603174|
|         14|          2|  8053764|
|         15|          2|  7581289|
|         16|          2|  7265989|
|         17|          2|  6921682|
|         18|          2|  5734984|
|         19|          2|  4005137|
|         20|          2|  2418886|
|         21|          2|  1394903|
|         22|          2|   864306|
|         23|          2|   656732|
|          0|          3|   825610|
|          1|          3|  1781623|
|          2|          3|  3887222|
|          3|          3|  5875177|
|          4|          3|  6579467|
|          5|          3|  6265416|
|          6|          3|  6029600|
|          7|          3|  6208811|
|          8|          3|  6407801|
|          9|          3|  6586928|
|         10|          3|  6826315|
|         11|          3|  6584533|
|         12|          3|  6679776|
|         13|          3|  7739273|
|         14|          3|  8266538|
|         15|          3|  7926382|
|         16|          3|  7614960|
|         17|          3|  7389225|
|         18|          3|  6312741|
|         19|          3|  4612782|
|         20|          3|  2873399|
|         21|          3|  1691398|
|         22|          3|  1053622|
|         23|          3|   778251|
|          0|          4|   899635|
|          1|          4|  1823211|
|          2|          4|  3924589|
|          3|          4|  5883633|
|          4|          4|  6594838|
|          5|          4|  6292019|
|          6|          4|  6079346|
|          7|          4|  6251837|
|          8|          4|  6462588|
|          9|          4|  6672931|
|         10|          4|  6983541|
|         11|          4|  6700112|
|         12|          4|  6750648|
|         13|          4|  7820951|
|         14|          4|  8393723|
|         15|          4|  8113941|
|         16|          4|  7876383|
|         17|          4|  7717189|
|         18|          4|  6947139|
|         19|          4|  5585100|
|         20|          4|  3911132|
|         21|          4|  2493932|
|         22|          4|  1608434|
|         23|          4|  1138633|
|          0|          5|  1105514|
|          1|          5|  1838516|
|          2|          5|  3707137|
|          3|          5|  5436078|
|          4|          5|  6146975|
|          5|          5|  5996753|
|          6|          5|  5898125|
|          7|          5|  6102060|
|          8|          5|  6321484|
|          9|          5|  6540539|
|         10|          5|  6916862|
|         11|          5|  6671703|
|         12|          5|  6790327|
|         13|          5|  7830997|
|         14|          5|  8468338|
|         15|          5|  8044567|
|         16|          5|  7331303|
|         17|          5|  7330995|
|         18|          5|  7389067|
|         19|          5|  6936129|
|         20|          5|  6023038|
|         21|          5|  4944123|
|         22|          5|  3838997|
|         23|          5|  2703935|
|          0|          6|  1656350|
|          1|          6|  1163369|
|          2|          6|  1624738|
|          3|          6|  2446813|
|          4|          6|  3611888|
|          5|          6|  4792165|
|          6|          6|  5642381|
|          7|          6|  6282572|
|          8|          6|  6695837|
|          9|          6|  6754710|
|         10|          6|  6783614|
|         11|          6|  6759991|
|         12|          6|  6806362|
|         13|          6|  7419044|
|         14|          6|  7798466|
|         15|          6|  7382665|
|         16|          6|  6709919|
|         17|          6|  6877039|
|         18|          6|  7217948|
|         19|          6|  7031574|
|         20|          6|  6259121|
|         21|          6|  5303515|
|         22|          6|  4229164|
|         23|          6|  3019324|
+-----------+-----------+---------+

Viendo la tabla los picos estan entre semana a las 14:00, mientras que los sabados esta a las 18:00 y por √∫ltimo los domingos existe actividad en la ma√±ana con su pico a las 10:00

f) p50/p90 de trip_duration_min por borough de pickup.

In [11]:
duration_pct = (
    df.groupBy("PU_BOROUGH")
      .agg(
          F.percentile_approx("TRIP_DURATION_MIN", 0.5).alias("p50_duration"),
          F.percentile_approx("TRIP_DURATION_MIN", 0.9).alias("p90_duration")
      )
)
duration_pct.show()

+-------------+------------+------------+
|   PU_BOROUGH|p50_duration|p90_duration|
+-------------+------------+------------+
|       Queens|        24.0|        54.0|
|          EWR|         0.0|         2.0|
|      Unknown|        10.0|        28.0|
|     Brooklyn|        13.0|        33.0|
|Staten Island|        23.0|        71.0|
|          N/A|         1.0|        60.0|
|    Manhattan|        11.0|        25.0|
|        Bronx|        13.0|        38.0|
+-------------+------------+------------+

g) `avg_speed_mph` por franja horaria (6‚Äì9, 17‚Äì20) y borough.

In [18]:
df_speed = df.withColumn("time_slot", 
    F.when((F.col("PICKUP_HOUR").between(6,9)), "morning")
   .when((F.col("PICKUP_HOUR").between(17,20)), "evening")
   .otherwise("other")
)

# speed con valores atipicos eliminados
df_speed = df_speed.filter((F.col("AVG_SPEED_MPH") >= 1) & (F.col("AVG_SPEED_MPH") <= 50))

avg_speed_slot = (
    df_speed.groupBy("PU_BOROUGH", "time_slot")
            .agg(F.round(F.avg("AVG_SPEED_MPH"),2).alias("avg_speed_mph"))
            .orderBy("PU_BOROUGH", "time_slot")
)
avg_speed_slot.show(40, False)

+-------------+---------+-------------+
|PU_BOROUGH   |time_slot|avg_speed_mph|
+-------------+---------+-------------+
|Bronx        |evening  |16.0         |
|Bronx        |morning  |13.1         |
|Bronx        |other    |13.26        |
|Brooklyn     |evening  |13.74        |
|Brooklyn     |morning  |11.48        |
|Brooklyn     |other    |12.48        |
|EWR          |evening  |26.22        |
|EWR          |morning  |21.0         |
|EWR          |other    |17.98        |
|Manhattan    |evening  |12.51        |
|Manhattan    |morning  |9.54         |
|Manhattan    |other    |10.82        |
|N/A          |evening  |18.35        |
|N/A          |morning  |17.16        |
|N/A          |other    |17.43        |
|Queens       |evening  |23.87        |
|Queens       |morning  |18.33        |
|Queens       |other    |18.53        |
|Staten Island|evening  |22.69        |
|Staten Island|morning  |21.09        |
|Staten Island|other    |20.63        |
|Unknown      |evening  |13.89        |
|Unknown      |morning  |10.31        |
|Unknown      |other    |11.59        |
+-------------+---------+-------------+

Se puede ver como el avg_speed varia de la ma√±ana a la tarde esto debido al trafico y tambi√©n existen cambios significativos debidos al borough, siendo que la mayor velocidad promedio se da en EWR en la ma√±ana y la menor se da en Manhattan en la ma√±ana lo cual hace sentido debido a la congesti√≥n de la ciudad

h) Participaci√≥n por `payment_type_desc` y su relaci√≥n con `tip_pct`.

In [14]:
payment_tip = (
    df.groupBy("PAYMENT_TYPE_DESC")
      .agg(
          F.count("*").alias("num_trips"),
          F.round(F.avg("TIP_PCT"),2).alias("avg_tip_pct")
      )
      .orderBy(F.col("num_trips").desc())
)
payment_tip.show()

+-----------------+---------+-----------+
|PAYMENT_TYPE_DESC|num_trips|avg_tip_pct|
+-----------------+---------+-----------+
|      Credit card|572759671|      15.07|
|             Cash|255987421|        0.0|
|  Flex Fare trip | 17444119|      15.77|
|        No charge|  4183884|       0.02|
|          Dispute|  3616567|       0.03|
|    Not specified|  1913192|       3.12|
|          Unknown|     3045|        0.1|
+-----------------+---------+-----------+

Se puede ver que al pagar con tarjeta de credito o con un viaje flexible existe mayor propina. Siendo que hay una diferencia significatipa con la tarjeta de cretdito, en efectivo no se registra propina esto es consistente ya que estas no se pueden medir de manera automatica

i) ¬øQu√© `rate_code_desc` concentran mayor `trip_distance` y `total_amount`?

In [15]:
rate_codes = (
    df.groupBy("RATE_CODE_DESC")
      .agg(
          F.round(F.sum("TRIP_DISTANCE"),2).alias("total_distance"),
          F.round(F.sum("TOTAL_AMOUNT"),2).alias("total_amount"),
          F.count("*").alias("num_trips")
      )
      .orderBy(F.col("total_distance").desc())
)
rate_codes.show(10)

+--------------------+---------------+-----------------+---------+
|      RATE_CODE_DESC| total_distance|     total_amount|num_trips|
+--------------------+---------------+-----------------+---------+
|       Standard rate|3.50396455861E9|1.335229084586E10|807771673|
|             Unknown| 8.0639682204E8|    5.605215275E8| 20644902|
|                 JFK|   4.30163568E8|  1.38767537936E9| 19754845|
|     Negotiated fare|  5.114722168E7|   2.9153840659E8|  5259618|
|              Newark|  2.851988972E7|   1.6022611566E8|  1752357|
|Nassau or Westche...|  2.096426269E7|     6.90564696E7|   717169|
|          Group ride|        8929.84|        185685.24|     7335|
+--------------------+---------------+-----------------+---------+

El que concentra mayor trip_distance y total_amount es el standart rate, lo cual es logico debido a que posee tambien una magnitud mucho mayor a cualquiera de las otras opciones

j) Mix yellow vs green por mes y borough.

In [16]:
mix_service = (
    df.groupBy("MONTH", "PU_BOROUGH", "SERVICE_TYPE")
      .agg(F.count("*").alias("num_trips"))
      .orderBy("MONTH", "PU_BOROUGH")
)
mix_service.show()

+-----+-------------+------------+---------+
|MONTH|   PU_BOROUGH|SERVICE_TYPE|num_trips|
+-----+-------------+------------+---------+
|    1|        Bronx|      yellow|   122246|
|    1|        Bronx|       green|   342339|
|    1|     Brooklyn|       green|  2157929|
|    1|     Brooklyn|      yellow|   994453|
|    1|          EWR|       green|      109|
|    1|          EWR|      yellow|     5614|
|    1|    Manhattan|       green|  1948766|
|    1|    Manhattan|      yellow| 65761203|
|    1|          N/A|      yellow|    53418|
|    1|          N/A|       green|     3129|
|    1|       Queens|       green|  1711803|
|    1|       Queens|      yellow|  4630697|
|    1|Staten Island|      yellow|     3074|
|    1|Staten Island|       green|     1436|
|    1|      Unknown|      yellow|  1028484|
|    1|      Unknown|       green|     9652|
|    2|        Bronx|       green|   377194|
|    2|        Bronx|      yellow|   113415|
|    2|     Brooklyn|       green|  2130266|
|    2|     Brooklyn|      yellow|  1031771|
+-----+-------------+------------+---------+
only showing top 20 rows

Se puede ver como yellow es casi siempre mayor, lo cual tiene sentido ya que existen muchos mas datos registrados del service yellow en comparaci√≥n al green

k) Top 20 flujos PU‚ÜíDO por volumen y su ticket promedio.

In [17]:
flows = (
    df.groupBy("PU_ZONE", "DO_ZONE")
      .agg(F.count("*").alias("num_trips"),
           F.round(F.avg("TOTAL_AMOUNT"),2).alias("avg_ticket"))
      .orderBy(F.col("num_trips").desc())
)
flows.show(20)

+--------------------+--------------------+---------+----------+
|             PU_ZONE|             DO_ZONE|num_trips|avg_ticket|
+--------------------+--------------------+---------+----------+
|                 N/A|                 N/A|  7690526|     17.71|
|Upper East Side S...|Upper East Side N...|  4503615|     10.33|
|Upper East Side N...|Upper East Side S...|  3848736|     11.24|
|Upper East Side N...|Upper East Side N...|  3579641|      8.55|
|Upper East Side S...|Upper East Side S...|  3426337|      9.09|
|Upper West Side S...|Upper West Side N...|  2013131|       8.9|
|Upper West Side S...| Lincoln Square East|  1996940|      9.44|
|Upper East Side S...|      Midtown Center|  1931239|     12.12|
|Upper East Side S...|        Midtown East|  1924965|      10.7|
| Lincoln Square East|Upper West Side S...|  1905808|       9.9|
|      Midtown Center|Upper East Side S...|  1847546|     11.74|
|Upper West Side N...|Upper West Side S...|  1738209|      8.87|
|     Lenox Hill West|Upper East Side N...|  1711767|     10.13|
|Penn Station/Madi...|Times Sq/Theatre ...|  1670674|     12.48|
|Penn Station/Madi...|      Midtown Center|  1656040|     13.13|
|Times Sq/Theatre ...|Penn Station/Madi...|  1539712|     10.78|
|Upper East Side S...|     Lenox Hill West|  1535622|      9.27|
|        Clinton East|        Clinton East|  1524296|     10.03|
|            Gramercy|         Murray Hill|  1512641|     10.33|
|     Lenox Hill West|Upper East Side S...|  1480718|      9.78|
+--------------------+--------------------+---------+----------+
only showing top 20 rows

l) Distribuci√≥n de `passenger_count` y efecto en `total_amount`.

In [20]:
# passenger count debe ser mayor a 0 y menor a 6 y total amount mayor a 0 y menor a 500

df = df.filter((F.col("PASSENGER_COUNT") > 0) & (F.col("PASSENGER_COUNT") < 7) &
                (F.col("TOTAL_AMOUNT") > 0) & (F.col("TOTAL_AMOUNT") < 500))


passenger_effect = (
    df.groupBy("PASSENGER_COUNT")
      .agg(
          F.count("*").alias("num_trips"),
          F.round(F.avg("TOTAL_AMOUNT"),2).alias("avg_total_amount")
      )
      .orderBy("PASSENGER_COUNT")
)
passenger_effect.show()

+---------------+---------+----------------+
|PASSENGER_COUNT|num_trips|avg_total_amount|
+---------------+---------+----------------+
|              1|608019913|           18.16|
|              2|117416754|           19.61|
|              3| 32539380|           19.01|
|              4| 15730229|           20.11|
|              5| 33477355|           17.05|
+---------------+---------+----------------+

Se puede ver como los pasajeros no parecen tener un efecto en el `total_amount` de los viajes

m) Impacto de `tolls_amount` y `congestion_surcharge` por zona.

In [19]:
fees_effect = (
    df.groupBy("PU_ZONE")
      .agg(
          F.round(F.avg("TOLLS_AMOUNT"),2).alias("avg_tolls"),
          F.round(F.avg("CONGESTION_SURCHARGE"),2).alias("avg_congestion"),
          F.round(F.avg("TOTAL_AMOUNT"),2).alias("avg_total_amount")
      )
      .orderBy(F.col("avg_congestion").desc())
)
fees_effect.show()

+--------------------+---------+--------------+----------------+
|             PU_ZONE|avg_tolls|avg_congestion|avg_total_amount|
+--------------------+---------+--------------+----------------+
|Upper East Side S...|     0.07|          2.43|           14.15|
|      Yorkville East|     0.19|          2.43|           15.81|
|Upper East Side N...|      0.1|          2.43|           14.64|
|Sutton Place/Turt...|     0.12|          2.43|           15.17|
|Greenwich Village...|     0.06|          2.43|           16.22|
| Lincoln Square East|     0.11|          2.43|           15.47|
|        West Village|     0.09|          2.43|           16.23|
|     Lenox Hill West|     0.09|          2.43|           14.53|
|Upper West Side S...|     0.13|          2.43|            15.2|
|                SoHo|     0.08|          2.42|           16.85|
|     Lenox Hill East|     0.14|          2.42|           16.31|
| Lincoln Square West|     0.12|          2.42|           15.11|
|        East Village|     0.09|          2.42|           15.96|
|Greenwich Village...|      0.1|          2.42|           15.37|
|            Union Sq|     0.14|          2.42|           15.54|
|West Chelsea/Huds...|     0.16|          2.42|           17.03|
| Little Italy/NoLiTa|     0.05|          2.42|           16.86|
|        Midtown East|     0.26|          2.42|           16.83|
|            Gramercy|     0.17|          2.42|           15.45|
|Meatpacking/West ...|     0.15|          2.42|           16.83|
+--------------------+---------+--------------+----------------+
only showing top 20 rows

Viendo algunas zonas

| Zona m√°s costosa              | avg_total | avg_tolls | Observaci√≥n                                      |
| ----------------------------- | --------- | --------- | ------------------------------------------------ |
| West Chelsea/Hudson Yards     | 17.03     | 0.16      | Relativamente alto en peajes y congesti√≥n.       |
| Little Italy/NoLiTa           | 16.86     | 0.05      | Bajo en peajes, pero total alto.                 |
| Midtown East                  | 16.83     | 0.26      | **Mayor peaje promedio**, lo que eleva el total. |
| Meatpacking/West Village West | 16.83     | 0.15      | Promedio en peajes, alto en total.               |
| SoHo                          | 16.85     | 0.08      | Peaje bajo, pero alto total.                     |


El peaje (tolls_amount) s√≠ tiene un impacto directo en el total de los viajes, mientras que el sobrecargo por congesti√≥n es bastante constante por lo que no afecta significaticamente al total.

n) Proporci√≥n de viajes cortos vs largos por borough y estacionalidad.

In [24]:
df_length = df.withColumn(
    "trip_type", 
    F.when((F.col("TRIP_DISTANCE") > 0) & (F.col("TRIP_DISTANCE") <= 5), "short")
     .when(F.col("TRIP_DISTANCE") > 5, "long")
     .otherwise("other") 
)
trip_type_ratio = (
    df_length.groupBy("PU_BOROUGH", "MONTH", "trip_type")
             .agg(F.count("*").alias("num_trips"))
             .orderBy("PU_BOROUGH", "MONTH")
)
trip_type_ratio.show(100)

+----------+-----+---------+---------+
|PU_BOROUGH|MONTH|trip_type|num_trips|
+----------+-----+---------+---------+
|     Bronx|    1|     long|    83738|
|     Bronx|    1|    other|    25237|
|     Bronx|    1|    short|   259925|
|     Bronx|    2|    short|   298486|
|     Bronx|    2|     long|    85611|
|     Bronx|    2|    other|    22734|
|     Bronx|    3|     long|   100082|
|     Bronx|    3|    short|   339656|
|     Bronx|    3|    other|    24217|
|     Bronx|    4|    short|   287422|
|     Bronx|    4|    other|    21948|
|     Bronx|    4|     long|    89537|
|     Bronx|    5|     long|    92016|
|     Bronx|    5|    other|    23355|
|     Bronx|    5|    short|   287087|
|     Bronx|    6|    short|   262252|
|     Bronx|    6|     long|    86595|
|     Bronx|    6|    other|    22379|
|     Bronx|    7|     long|    82959|
|     Bronx|    7|    short|   234092|
|     Bronx|    7|    other|    23536|
|     Bronx|    8|    short|   221930|
|     Bronx|    8|    other|    23344|
|     Bronx|    8|     long|    83163|
|     Bronx|    9|    short|   209321|
|     Bronx|    9|    other|    20110|
|     Bronx|    9|     long|    70827|
|     Bronx|   10|    other|    19960|
|     Bronx|   10|     long|    73834|
|     Bronx|   10|    short|   211087|
|     Bronx|   11|     long|    67066|
|     Bronx|   11|    other|    17837|
|     Bronx|   11|    short|   194992|
|     Bronx|   12|    other|    19116|
|     Bronx|   12|     long|    73353|
|     Bronx|   12|    short|   215322|
|  Brooklyn|    1|    other|    54877|
|  Brooklyn|    1|    short|  2283462|
|  Brooklyn|    1|     long|   524603|
|  Brooklyn|    2|    other|    47534|
|  Brooklyn|    2|     long|   531747|
|  Brooklyn|    2|    short|  2315296|
|  Brooklyn|    3|    other|    49777|
|  Brooklyn|    3|     long|   585003|
|  Brooklyn|    3|    short|  2465266|
|  Brooklyn|    4|    other|    47293|
|  Brooklyn|    4|     long|   563560|
|  Brooklyn|    4|    short|  2330454|
|  Brooklyn|    5|     long|   597410|
|  Brooklyn|    5|    short|  2365229|
|  Brooklyn|    5|    other|    49827|
|  Brooklyn|    6|    short|  2158384|
|  Brooklyn|    6|    other|    49408|
|  Brooklyn|    6|     long|   540629|
|  Brooklyn|    7|    other|    50999|
|  Brooklyn|    7|     long|   500123|
|  Brooklyn|    7|    short|  1943680|
|  Brooklyn|    8|     long|   485246|
|  Brooklyn|    8|    short|  1857973|
|  Brooklyn|    8|    other|    49369|
|  Brooklyn|    9|    other|    46698|
|  Brooklyn|    9|     long|   461923|
|  Brooklyn|    9|    short|  1857023|
|  Brooklyn|   10|    short|  1989704|
|  Brooklyn|   10|    other|    44695|
|  Brooklyn|   10|     long|   497853|
|  Brooklyn|   11|     long|   433087|
|  Brooklyn|   11|    other|    42864|
|  Brooklyn|   11|    short|  1769664|
|  Brooklyn|   12|    short|  1888558|
|  Brooklyn|   12|     long|   458121|
|  Brooklyn|   12|    other|    46191|
|       EWR|    1|    short|     1064|
|       EWR|    1|     long|      526|
|       EWR|    1|    other|     3903|
|       EWR|    2|    other|     3320|
|       EWR|    2|     long|      404|
|       EWR|    2|    short|     1025|
|       EWR|    3|    other|     3898|
|       EWR|    3|    short|     1160|
|       EWR|    3|     long|      517|
|       EWR|    4|    other|     4147|
|       EWR|    4|    short|     1120|
|       EWR|    4|     long|      551|
|       EWR|    5|    other|     4695|
|       EWR|    5|     long|      583|
|       EWR|    5|    short|     1388|
|       EWR|    6|    short|     1265|
|       EWR|    6|    other|     4351|
|       EWR|    6|     long|      559|
|       EWR|    7|    other|     4361|
|       EWR|    7|     long|      568|
|       EWR|    7|    short|     1089|
|       EWR|    8|     long|      489|
|       EWR|    8|    other|     4391|
|       EWR|    8|    short|     1118|
|       EWR|    9|     long|      505|
|       EWR|    9|    other|     4056|
|       EWR|    9|    short|     1196|
|       EWR|   10|    other|     4584|
+----------+-----+---------+---------+
only showing top 100 rows

Se puede ver como los viajes cortos siempre son mucho mas dominantes que los viajes largos en todos los meses y borough

o) Diferencias por vendor en `avg_speed_mph` y `trip_duration_min`.

In [22]:
vendor_stats = (
    df.groupBy("VENDOR_NAME")
      .agg(
          F.round(F.avg("AVG_SPEED_MPH"),2).alias("avg_speed"),
          F.round(F.avg("TRIP_DURATION_MIN"),2).alias("avg_duration")
      )
)
vendor_stats.show()

+--------------------+---------+------------+
|         VENDOR_NAME|avg_speed|avg_duration|
+--------------------+---------+------------+
|  Curb Mobility, LLC|     17.2|       21.28|
|Creative Mobile T...|    34.16|       15.90|
|Myle Technologies...|    10.39|       33.20|
|       Not specified|    10.64|       14.18|
|               Helix|     NULL|        0.00|
+--------------------+---------+------------+

Se ve como la velocidad de Creative Mobile es mucho mayor al resto, y logicamente su duraci√≥n es mucho menor al resto, mientras los que tienen mas duraci√≥n son los Myle Technologies y por lo tanto tiene la mayor duraci√≥n de viajes.

p) Relaci√≥n m√©todo de pago ‚Üî `tip_amount` por hora.

In [22]:
tip_hour = (
    df.groupBy("PAYMENT_TYPE_DESC", "PICKUP_HOUR")
      .agg(F.round(F.avg("TIP_AMOUNT"),2).alias("avg_tip"))
      .orderBy("PICKUP_HOUR")
)
tip_hour.show(7*24)

+-----------------+-----------+-------+
|PAYMENT_TYPE_DESC|PICKUP_HOUR|avg_tip|
+-----------------+-----------+-------+
|          Dispute|          0|   0.01|
|      Credit card|          0|   3.51|
|             Cash|          0|    0.0|
|        No charge|          0|    0.0|
|          Unknown|          0|    0.0|
|          Unknown|          1|    0.0|
|      Credit card|          1|   3.32|
|        No charge|          1|    0.0|
|          Dispute|          1|   0.01|
|             Cash|          1|    0.0|
|          Dispute|          2|   0.01|
|        No charge|          2|    0.0|
|          Unknown|          2|    0.0|
|             Cash|          2|    0.0|
|      Credit card|          2|   2.83|
|          Unknown|          3|   0.03|
|        No charge|          3|   0.01|
|             Cash|          3|    0.0|
|      Credit card|          3|   2.71|
|          Dispute|          3|   0.01|
|          Dispute|          4|   0.01|
|      Credit card|          4|   2.75|
|          Unknown|          4|    0.0|
|             Cash|          4|    0.0|
|        No charge|          4|   0.01|
|             Cash|          5|    0.0|
|          Dispute|          5|   0.01|
|          Unknown|          5|   0.06|
|      Credit card|          5|   2.85|
|        No charge|          5|   0.01|
|      Credit card|          6|   2.93|
|          Unknown|          6|   0.16|
|        No charge|          6|    0.0|
|          Dispute|          6|   0.01|
|             Cash|          6|    0.0|
|      Credit card|          7|    3.0|
|          Unknown|          7|   0.13|
|             Cash|          7|    0.0|
|          Dispute|          7|   0.01|
|        No charge|          7|   0.01|
|        No charge|          8|   0.01|
|             Cash|          8|    0.0|
|          Unknown|          8|    0.0|
|      Credit card|          8|   3.07|
|          Dispute|          8|   0.01|
|      Credit card|          9|   3.17|
|          Dispute|          9|   0.01|
|             Cash|          9|    0.0|
|          Unknown|          9|   0.03|
|        No charge|          9|    0.0|
|          Unknown|         10|    0.0|
|        No charge|         10|    0.0|
|             Cash|         10|    0.0|
|          Dispute|         10|   0.01|
|      Credit card|         10|   3.23|
|             Cash|         11|    0.0|
|      Credit card|         11|   3.31|
|          Dispute|         11|   0.01|
|        No charge|         11|   0.01|
|          Unknown|         11|    0.0|
|          Dispute|         12|   0.01|
|      Credit card|         12|   3.33|
|             Cash|         12|    0.0|
|        No charge|         12|    0.0|
|          Unknown|         12|   0.06|
|             Cash|         13|    0.0|
|        No charge|         13|    0.0|
|          Dispute|         13|   0.01|
|      Credit card|         13|   3.13|
|          Unknown|         13|    0.0|
|        No charge|         14|    0.0|
|          Unknown|         14|   0.07|
|             Cash|         14|    0.0|
|          Dispute|         14|   0.01|
|      Credit card|         14|   2.99|
|          Dispute|         15|   0.01|
|          Unknown|         15|    0.0|
|      Credit card|         15|   2.95|
|             Cash|         15|    0.0|
|        No charge|         15|    0.0|
|             Cash|         16|    0.0|
|        No charge|         16|    0.0|
|          Dispute|         16|   0.01|
|          Unknown|         16|    0.0|
|      Credit card|         16|   2.99|
|        No charge|         17|    0.0|
|      Credit card|         17|   3.06|
|          Dispute|         17|   0.01|
|             Cash|         17|    0.0|
|          Unknown|         17|    0.0|
|          Unknown|         18|    0.0|
|             Cash|         18|    0.0|
|      Credit card|         18|    3.1|
|        No charge|         18|    0.0|
|          Dispute|         18|   0.01|
|      Credit card|         19|    3.1|
|          Unknown|         19|    0.0|
|          Dispute|         19|   0.01|
|             Cash|         19|    0.0|
|        No charge|         19|    0.0|
|        No charge|         20|    0.0|
|             Cash|         20|    0.0|
|      Credit card|         20|   2.97|
|          Unknown|         20|    0.0|
|          Dispute|         20|   0.01|
|        No charge|         21|   0.01|
|      Credit card|         21|   2.78|
|          Unknown|         21|    0.0|
|          Dispute|         21|   0.01|
|             Cash|         21|    0.0|
|      Credit card|         22|   2.69|
|          Unknown|         22|    0.0|
|        No charge|         22|    0.0|
|          Dispute|         22|   0.01|
|             Cash|         22|    0.0|
|        No charge|         23|    0.0|
|      Credit card|         23|   2.88|
|          Dispute|         23|   0.02|
|             Cash|         23|    0.0|
|          Unknown|         23|    0.0|
+-----------------+-----------+-------+

Se ve como credit card como ya se sabia tiene mas tip y las mayores propinas se dan en la madrugada (00:00 - 01:00)

q) Zonas con percentil 99 de duraci√≥n/distancia fuera de rango (posible congesti√≥n/eventos).

In [5]:

df_valid = df.filter(
    (F.col("TRIP_DISTANCE") > 0) &
    (F.col("TRIP_DURATION_MIN") > 0)
)

df_ratio = df_valid.withColumn(
    "duration_per_mile", 
    F.col("TRIP_DURATION_MIN") / F.col("TRIP_DISTANCE")
)

p99_duration_per_mile = df_ratio.approxQuantile("duration_per_mile", [0.99], 0.01)[0]

print(f"Percentil 99 de duraci√≥n por milla: {p99_duration_per_mile:.2f} min/milla")

outliers_congestion = df_ratio.filter(
    F.col("duration_per_mile") >= p99_duration_per_mile
)

# VALORES IMPOSIBLES
outliers_physic = df_ratio.filter(
    (F.col("TRIP_DISTANCE") > 100) |
    (F.col("TRIP_DURATION_MIN") > 300)
)

outliers_total = outliers_congestion.union(outliers_physic)

zonas_congestion = (
    outliers_total.groupBy("PU_ZONE")
        .agg(F.count("*").alias("num_outlier_trips"))
        .orderBy(F.col("num_outlier_trips").desc())
)

zonas_congestion.limit(20).show(truncate=False)

Percentil 99 de duraci√≥n por milla: 125373065.00 min/milla
+----------------------------+-----------------+
|PU_ZONE                     |num_outlier_trips|
+----------------------------+-----------------+
|JFK Airport                 |63577            |
|Times Sq/Theatre District   |47126            |
|Midtown Center              |47009            |
|LaGuardia Airport           |45371            |
|Penn Station/Madison Sq West|43110            |
|East Village                |39681            |
|Upper East Side South       |39421            |
|Clinton East                |39059            |
|Midtown East                |37224            |
|Upper East Side North       |35822            |
|Union Sq                    |35313            |
|Murray Hill                 |34483            |
|Midtown North               |33156            |
|Midtown South               |31283            |
|Lincoln Square East         |31122            |
|East Chelsea                |30654            |
|Upper West Side South       |27254            |
|Gramercy                    |26300            |
|West Village                |25523            |
|Central Park                |24562            |
+----------------------------+-----------------+

r) Yield por milla (`total_amount`/`trip_distance`) por borough y hora.

In [5]:
# VALORES RAZONABLES
df_filtered = df.filter((F.col("TRIP_DISTANCE") > 0) & (F.col("TRIP_DISTANCE") < 1000))

df_yield = df_filtered.withColumn("yield", F.col("TOTAL_AMOUNT") / F.col("TRIP_DISTANCE"))


yield_stats = (
    df_yield.groupBy("PU_BOROUGH", "PICKUP_HOUR")
            .agg(F.round(F.avg("yield"), 2).alias("avg_yield"))

)

yield_stats.show()

+-------------+-----------+---------+
|   PU_BOROUGH|PICKUP_HOUR|avg_yield|
+-------------+-----------+---------+
|          N/A|          7|   101.34|
|       Queens|         14|    12.22|
|    Manhattan|         15|    10.98|
|     Brooklyn|         21|     8.41|
|          N/A|         21|    227.4|
|       Queens|          2|    13.19|
|          N/A|          9|    80.88|
|      Unknown|         15|    23.69|
|     Brooklyn|         13|    14.53|
|       Queens|          4|    10.68|
|    Manhattan|         17|     9.27|
|    Manhattan|          8|    10.65|
|       Queens|          8|    11.97|
|Staten Island|         21|     53.2|
|       Queens|          6|    10.08|
|       Queens|          7|    11.33|
|          N/A|         15|   195.35|
|          N/A|         11|    92.31|
|     Brooklyn|         18|     8.56|
|    Manhattan|         19|     9.13|
+-------------+-----------+---------+
only showing top 20 rows

s) Cambios YoY en volumen y ticket promedio por service_type.

In [23]:
# years solo pueden ser 2015 a 2025

df = df.filter((F.col("YEAR") >= 2015) & (F.col("YEAR") <= 2025))
# total amount debe tener sentido
df = df.filter((F.col("TOTAL_AMOUNT") > 0) & (F.col("TOTAL_AMOUNT") < 500))

yoy_service = (
    df.groupBy("SERVICE_TYPE", "YEAR")
      .agg(
          F.count("*").alias("num_trips"),
          F.round(F.avg("TOTAL_AMOUNT"),2).alias("avg_ticket")
      )
      .orderBy("SERVICE_TYPE", "YEAR")
)
yoy_service.show(100)

+------------+----+---------+----------+
|SERVICE_TYPE|YEAR|num_trips|avg_ticket|
+------------+----+---------+----------+
|       green|2015| 18846181|     14.86|
|       green|2016| 16032951|     14.72|
|       green|2017| 11471137|     14.31|
|       green|2018|  8587154|     15.84|
|       green|2019|  5493950|      16.1|
|       green|2020|  1170825|     15.87|
|       green|2021|   640439|     19.09|
|       green|2022|   730872|     18.48|
|       green|2023|   712878|     23.45|
|       green|2024|   614773|     24.12|
|       green|2025|   356554|     24.61|
|      yellow|2015|140806714|     16.04|
|      yellow|2016|126804360|     16.32|
|      yellow|2017|109905984|     16.28|
|      yellow|2018| 99001048|     16.38|
|      yellow|2019| 80399363|     19.08|
|      yellow|2020| 22724547|      17.9|
|      yellow|2021| 28135735|     19.22|
|      yellow|2022| 36808270|      21.7|
|      yellow|2023| 35720592|     29.01|
|      yellow|2024| 35869782|     29.14|
|      yellow|2025| 26191127|     28.95|
+------------+----+---------+----------+

La tendencia que sigue es de disminuci√≥nm aunque hay un salgo de 2021 a 2022 esto se explica por la pandemia y a su vez los preecios van en aumento con un salgo significativo de 2022 a 2023 en ambos servicios que tambi√©n se puede deber a la pandemia

t) D√≠as con alta congestion_surcharge: efecto en total_amount vs d√≠as ‚Äúnormales‚Äù

In [7]:
df_cong = df.withColumn("high_congestion", F.when(F.col("CONGESTION_SURCHARGE")>2, "high").otherwise("normal"))

congestion_effect = (
    df_cong.groupBy("PU_BOROUGH", "high_congestion")
            .agg(
                F.count("*").alias("num_trips"),
                F.round(F.avg("TOTAL_AMOUNT"),2).alias("avg_total_amount")
            )
)
congestion_effect.show()

+-------------+---------------+---------+----------------+
|   PU_BOROUGH|high_congestion|num_trips|avg_total_amount|
+-------------+---------------+---------+----------------+
|     Brooklyn|         normal| 34604064|           18.11|
|      Unknown|           high|  1253807|           25.84|
|     Brooklyn|           high|   802673|           31.04|
|Staten Island|         normal|    53221|           51.35|
|       Queens|           high| 11079699|           70.07|
|          EWR|         normal|    74410|           92.13|
|    Manhattan|           high|234042485|           19.55|
|        Bronx|           high|    33318|           44.29|
|       Queens|         normal| 61420560|           34.96|
|    Manhattan|         normal|498016059|           14.69|
|      Unknown|         normal|  8545317|           18.34|
|          N/A|         normal|   708068|           66.05|
|          N/A|           high|     8137|           55.88|
|        Bronx|         normal|  5265008|           20.32|
|Staten Island|           high|      745|           71.68|
|          EWR|           high|      328|          100.83|
+-------------+---------------+---------+----------------+

En los dias de alta congesti√≥n el total aumenta en comparaci√≥n con los normales, lo cual se explica no solo por el `congestion_surcharge` que ya vimos anterioremente, sino que debido al trafico los viajes van a ser mas largos en cuestion de tiempo y distancia